<!DOCTYPE html>
<html xml:lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{label.education}"></title>
</head>
<body>
<h4 layout:fragment="content-header">Assign Student to Class</h4>
<th:block layout:fragment="content">
    <form class="position-relative" th:object="${student}" method="post">
        <div class="row mb-3">
            <div class="col-3">
                <img th:id="formImageOld" th:src="@{#}" th:if="${student.applicant.imagePath}" alt="available" style="width: 44mm; height: 54mm; border: 2px solid #333"/>
                <img th:id="formImageMale" th:src="@{/resources/img/dummy_male.jpg}" class="img-thumbnail" th:if="${student.applicant.gender eq 'Male' && student.applicant.imagePath eq null}" style="width: 45mm; height: 55mm"/>
                <img th:id="formImageFemale" th:src="@{/resources/img/dummy_female.jpg}" class="img-thumbnail" th:if="${student.applicant.gender eq 'Female' && student.applicant.imagePath eq null}" style="width: 45mm; height: 55mm"/>
            </div>
            <div class="col-9">
                <div class="row mb-2">
                    <div class="fw-bold" id="studentInfo"></div>
                </div>
            </div>
        </div>
        <div class="card mb-3 border-blue-100">
            <h5 class="card-header text-primary">Academic Class</h5>
            <div class="card-body">
                <div class="row mb-2">
                    <label class="col-md-2 form-label red-star">Institution:</label>
                    <div class="col-md-4">
                        <input class="form-control" th:value="${student.institutionName}" readonly>
                    </div>
                    <label class="col-md-2 form-label red-star">Class:</label>
                    <div class="col-md-4">
                        <select class="form-select" id="class" th:field="*{currentAcademicClassId}" onchange="setTextAsValue(this, 'currentAcademicClassInfo')"></select>
                        <input type="hidden" id="currentAcademicClassInfo" th:field="*{currentAcademicClassInfo}">
                        <span th:if="${#fields.hasErrors('currentAcademicClassId')}" th:errorclass="error" th:errors="*{currentAcademicClassId}"></span>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Assign</button>
    </form>
    <th:block th:replace="common/toast.html :: toast"/>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function setTextAsValue(el, id) {
            if (el.value !== '0'){
                document.getElementById(id).value = el.options[el.selectedIndex].text;
            }else{
                document.getElementById(id).value = '';
            }
        }

        function loadClassList(id) {
            const classEl = document.getElementById("class");
            let url = /*[[${classList}]]*/'';
            url = url.replace('{id}', id);
            fetch(url).then(response => response.text()).then(data => {
                classEl.innerHTML = data;
            });
        }

        (() => {
            const url = '/admission/applicant/image/download'
            const student = /*[[${student}]]*/'';
            const path = student.applicant.imagePath;

            if (student) {
                fetch(generateRequestURL(url, {path: path}))
                    .then(response => response.json())
                    .then(image => {
                        document.getElementById('formImageOld').src = image.data
                    })

                document.getElementById('studentInfo').innerHTML = student.studentInfo;
            }

            const institutionId = /*[[${student.institutionId}]]*/'';
            loadClassList(institutionId);
        })();
    </script>
</th:block>
</body>
</html>
