<!DOCTYPE html>
<html xml:lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title>Registration</title>
<body>
<h4 layout:fragment="content-header">Applicant List</h4>
<th:block layout:fragment="content">

    <div id="filter" class="m-3">
        <div class="row mb-3">
            <select name="appliedClass" class="form-select">
                <option value="" selected>Select Class...</option>
                <option th:each="clazz:${academicClasses}"
                        th:data-id="${clazz.id}"
                        th:value="${clazz.name}"
                        th:text="${clazz.name}"
                ></option>
            </select>
        </div>
        <div class="row mb-3">
            <input type="text" name="session" class="form-control" placeholder="Type Session...">
        </div>
        <div class="row mb-3">
            <select name="gender" class="form-select">
                <option value="" selected>Select Gender...</option>
                <option value="Male" name="gender">Male</option>
                <option value="Female" name="gender">Female</option>
            </select>
        </div>
        <div class="row mb-3">
            <select name="religion" class="form-control">
                <option value="" selected>Select Religion...</option>
                <option th:each="religion : ${religionList}" th:value="${religion.title}"
                        th:text="${religion.title}"></option>
            </select>
        </div>
        <div class="row mb-3">
            <select name="community" class="form-control">
                <option value="" selected>Select Community...</option>
                <option th:each="community : ${communityList}" th:text="${community.title}"
                        th:value="${community.title}"></option>
            </select>
        </div>
        <div class="row mb-3">
            <select name="examCenter" class="form-control">
                <option value="" selected>Select Exam Center...</option>
                <option th:each="examCenter : ${examCenterList}"
                        th:value="${examCenter.name}" th:text="${examCenter.name}"></option>
            </select>
        </div>
        <div class="row mb-3">
            <select class="form-select" id="district" name="district" onchange="loadUpazila(this)">
                <option value="">Select District...</option>
                <option th:each="district:${districts}"
                        th:value="${district.name}"
                        th:text="${district.name}"
                        th:data-id="${district.id}"
                ></option>
            </select>
        </div>
        <div class="row mb-3">
            <select class="form-select" id="upazila" name="upazila">
                <option value="">Select Upazila...</option>
            </select>
        </div>
    </div>

    <table id='table' th:attr="data-url=${searchUrl}">
        <thead>
        <tr>
            <th data-column-name='action'>Action</th>
            <th data-column-name='name'>Name</th>
            <th data-column-name='formNo' sortable="true">Form No</th>
            <th data-column-name='session'>Session</th>
            <th data-column-name='appliedClass'>Class</th>
            <th data-column-name='examCenter'>Exam Center</th>
            <th data-column-name='religion'>Religion</th>
            <th data-column-name='community'>Community</th>
            <th data-column-name='selected'>Selection</th>
            <th data-column-name='admitted'>Admission</th>
        </tr>
        </thead>
    </table>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        const table = new DataTable('#table', {
            omniPlaceholder: 'Search name or code',
            sortColumn: "formNo",
            showDownloadButton: false,
            loaderText: 'Loading applicant list...',
            noRecordText: 'No records found in applicant',
            filterSelector: "filter",
            filterEnabled: true,

            formatter: {
                name: (el, column, rowData) => {
                    el.innerHTML = rowData.nameEn + " (" + rowData.nameBn + ")"
                },
                selected: (el, column, rowData) => {
                    el.innerHTML = rowData.selected ? 'Yes' : 'No'
                },
                admitted: (el, column, rowData) => {
                    el.innerHTML = rowData.admitted ? 'Yes' : 'No'
                },
                action: (el, column, rowData) => {
                    const entryUrl = /*[[${entryUrl}]]*/ '/admission//create-applicant';
                    el.innerHTML =`<a href="${entryUrl}?id=${rowData.id}"
                    id="editButton" class="btn btn-secondary btn-sm" type="button">
                    Open
                    </a>`
                },
            },
        });

        function loadUpazila(el){
            const upazilasByDistrict = /*[[${upazilasByDistrict}]]*/'';
            const districtId = el.options[el.selectedIndex].dataset.id;
            const url = upazilasByDistrict + '?district=' + districtId;

            fetch(url).then(response => response.json()).then(data => {
                const options = [];
                const upazilaEl = document.getElementById('upazila');
                options.push('<option value="">Select Upazila...</option>');

                data.forEach(upazila => {
                    options.push(`<option value="${upazila.name}">${upazila.name}</option>`);
                });
                upazilaEl.innerHTML = options.join('');
            });
        }
    </script>
</th:block>
</body>

</html>