<!DOCTYPE html>
<html xml:lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{label.education}"></title>
<body>
<h4 layout:fragment="content-header">Residence List</h4>
<th:block layout:fragment="content">
    <table id='table' th:attr="data-url=${searchUrl}">
        <thead>
        <tr>
            <th class="col-md-1" data-column-name='action'>Action</th>
            <th class="col-md-3" data-column-name='name' sortable="true">Name</th>
            <th class="col-md-1" data-column-name='code'>Code</th>
            <th class="col-md-2" data-column-name='phone'>Phone</th>
            <th class="col-md-3" data-column-name='email'>Email</th>
            <th class="col-md-2" data-column-name='responsiblePerson'>Responsible Person</th>
        </tr>
        </thead>
    </table>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        const hasPermission = /*[[${menuAuthorizer.canCreateResidenceReference}]]*/'';
        const table = new DataTable('#table', {
            omniPlaceholder: "Search by residence name or code",
            sortColumn: "name",
            filterEnabled: false,
            formatter: {
                action: (el, column, rowData) => {
                    const entryUrl = /*[[${entryUrl}]]*/ '/residence/residence-entry';
                    el.innerHTML = `<a href="${entryUrl}?id=${rowData.id}"
                    id="editButton" class="btn btn-secondary btn-sm" type="button">
                    Open
                    </a>`
                },
            },
            events: {
                createNew: (e, rowData) => {
                    if (hasPermission) {
                        window.location = '/residence/residence-entry'
                    }
                }
            },
            buttonSection: hasPermission ? [
                {
                    name: 'createNew',
                    label: 'Add Residence',
                    classes: 'btn btn-primary'
                }
            ] : null
        });
    </script>
</th:block>
</body>
</html>









