<!DOCTYPE html>
<html xml:lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <title th:text="#{label.education}"></title>
</head>
<body>
<h4 layout:fragment="content-header"
    th:text="${residence.id > 0} ? #{residence.form.update.title} : #{residence.form.create.title}"></h4>
<th:block layout:fragment="content">
    <form th:object="${residence}" th:action="${entryLink}" method="post">
        <div class="card mb-3 border-blue-100">
            <h5 class="card-header card-header-custom text-primary d-flex justify-content-between">Residence
                Information</h5>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-8">
                        <label class="form-label red-star" for="name">Name:<span class="text-danger">*</span></label>
                        <input id="name" class="form-control" th:field="*{name}">
                        <input type="hidden" th:field="*{id}">
                        <span th:if="${#fields.hasErrors('name')}" th:errorclass="error"
                              th:errors="*{name}"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label red-star">Code:<span class="text-danger">*</span></label>
                        <input class="form-control" th:field="*{code}">
                        <span th:if="${#fields.hasErrors('code')}" th:errorclass="error"
                              th:errors="*{code}"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Phone:</label>
                        <input class="form-control" th:field="*{phone}">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Email:</label>
                        <input class="form-control" th:field="*{email}">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Responsible Person:</label>
                        <input class="form-control" th:field="*{responsiblePerson}">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Address:</label>
                        <textarea class="form-control" th:field="*{address}"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="red-star mb-2">Class:<span class="text-danger">*</span></label>
                        <table class="table table-bordered mb-0" id="classTable">
                            <thead>
                            <tr class="table-secondary">
                                <th class="col-11">Class</th>
                                <th class="col-1">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="classRow" th:each="residence : ${residence.classList}"
                                th:id="|classRow${residenceStat.index}|">
                                <td>
                                    <select class="form-control"
                                            th:field="*{classList[__${residenceStat.index}__].clazz.id}">
                                        <option value="">-Please Select-</option>
                                        <option th:each="cl : ${classes}" th:value="${cl.id}"
                                                th:text="${cl.name}"></option>
                                    </select>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        <button type="button" class="btn btn-danger bi-trash-fill me-1"
                                                th:attr="data-index=${residenceStat.index}"
                                                onclick="deleteRow(this)"></button>
                                        <div class="dropdown">
                                            <button type="button"
                                                    th:id="|dropdown${residenceStat.index}|"
                                                    class="btn btn-light bi-three-dots-vertical"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"></button>
                                            <ul class="dropdown-menu dropdown-menu-end end-0">
                                                <li onclick="addRow(this, 'above')"
                                                    th:attr="data-index=${residenceStat.index}">
                                                    <span class="dropdown-item btn">Add row above</span>
                                                </li>
                                                <li onclick="addRow(this, 'below')"
                                                    th:attr="data-index=${residenceStat.index}">
                                                    <span class="dropdown-item btn">Add row below</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <span th:if="${#fields.hasErrors('classList')}" th:errorclass="error"
                              th:errors="*{classList}"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Remarks:</label>
                        <textarea class="form-control" th:field="*{remarks}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4" th:name="action"
                th:value="${residence.id > 0} ? 'update' : 'new'"
                th:text="${residence.id > 0} ? 'Update' : 'Save'"
                th:if="${menuAuthorizer.canCreateResidenceReference}"></button>
    </form>
    <th:block th:replace="common/toast.html :: toast"/>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function createEmptyRow() {
            const classList = /*[[${classes}]]*/null;

            const rows = document.querySelectorAll('.classRow');
            const lastIndex = rows.length;
            let option = `<option value="">-Please Select-</option>`;

            for (let clas of classList) {
                option += `<option value='${clas.id}'>${clas.name}</option>`;
            }

            const rowElement = document.createElement('tr');
            rowElement.setAttribute('id', `classRow${lastIndex}`);
            rowElement.classList.add('classRow');

            const row = `<td>
                            <select class="form-control" name="classList[${lastIndex}].clazz.id" data-index="${lastIndex}">${option}</select>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-danger bi-trash-fill me-1" data-index="${lastIndex}" onclick="deleteRow(this)"></button>
                                <div class="dropdown">
                                    <button type="button"
                                            id="dropdown${lastIndex}"
                                            class="btn btn-light bi-three-dots-vertical"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"></button>
                                    <ul class="dropdown-menu dropdown-menu-end end-0">
                                        <li onclick="addRow(this, 'above')" data-index="${lastIndex}">
                                            <span class="dropdown-item btn">Add row above</span>
                                        </li>
                                        <li onclick="addRow(this, 'below')" data-index="${lastIndex}">
                                            <span class="dropdown-item btn">Add row below</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>`;

            rowElement.innerHTML = row;
            whatNext(rowElement.querySelector('select'));

            new BSN.Dropdown(rowElement.querySelector(`#dropdown${lastIndex}`));

            return rowElement;
        }

        function addDefaultEmptyRow() {
            const row = createEmptyRow();
            const body = document.querySelector('#classTable').tBodies[0];
            body.appendChild(row);
            reindex();
        }

        function addRow(el, where) {
            const body = document.querySelector('#classTable').tBodies[0];
            const currentRow = document.querySelector(`#classRow${el.dataset.index}`);
            const newRow = createEmptyRow();

            if (where === 'above') {
                body.insertBefore(newRow, currentRow);
            } else {
                const rows = document.querySelectorAll('.classRow');
                if (+el.dataset.index === rows.length - 1) {
                    addDefaultEmptyRow();
                } else {
                    body.insertBefore(newRow, currentRow.nextSibling);
                }
            }
            reindex();
        }

        function deleteRow(el) {
            document.querySelector(`#classRow${el.dataset.index}`).remove();
            reindex();
        }

        function reindex() {
            const rows = document.querySelectorAll('.classRow');

            let index = 0;
            for (const row of rows) {
                row.setAttribute('id', `classRow${index}`);
                row.querySelector('select').name = `classList[${index}].clazz.id`;
                row.querySelector('select').dataset.index = `${index}`;

                const deleteBtn = row.querySelector('.bi-trash-fill');
                deleteBtn.dataset.index = `${index}`;
                deleteBtn.style.visibility = rows.length > 1 ? 'visible' : 'hidden';

                const addRow = row.querySelector('.bi-three-dots-vertical');
                addRow.setAttribute('id', `dropdown${index}`);

                const addRowMenu = row.querySelectorAll('.dropdown-item');
                addRowMenu[0].dataset.index = `${index}`;
                addRowMenu[1].dataset.index = `${index}`;

                index++;
            }
        }

        function whatNext(el) {
            el.addEventListener('keydown', (e) => {
                if (e.keyCode === 9) {
                    const rows = document.querySelectorAll('.classRow');
                    if (+el.dataset.index === rows.length - 1) {
                        addDefaultEmptyRow();
                    }
                }
            })
        }

        (() => {
            const rows = document.querySelectorAll('.classRow');
            for(const row of rows){
                whatNext(row.querySelector('select'));
            }

            if (!rows || rows.length <= 0) {
                addDefaultEmptyRow();
            }
            reindex();
        })();
    </script>
</th:block>
</body>
</html>